.avatar{
    border-radius: 50px;
}

.embedding{
    color:aquamarine;
}

.div-new{
    width:20%;
    border: 2px solid #d1cfcf;
    border-radius: 50px;
    box-shadow: 4px 4px 4px #d1cfcf;
}

.green{
    background-color: green;
    text-align: center;
}

.blue{
    background-color: blue;
    text-align: center;
}

.con1{
    margin: auto;
    background-color:#d1c3f5;
    height: 40vh;
    width: 40%;

}