.avatar{
    border-radius: 50px;
}

.embedding{
    color:aquamarine;
}

.div-new{
    width:20%;
    border: 2px solid #d1cfcf;
    border-radius: 50px;
    box-shadow: 4px 4px 4px #d1cfcf;
}

.green{
    background-color: green;
    text-align: center;
}

.blue{
    background-color: blue;
    text-align: center;
}

.con1{
    margin: auto;
    background-color:#4d1ec4;
    height: 40vh;
    width: 40%;

}

.Forms101{
    margin: auto;
    background-color:#d1c3f5;
    height: 65vh;
    width: 65%;
}

.component1{
    margin: auto;
    background-color: #d1c3f5;
    height:29vh;
    width: 25%;
}



#Hello{
    background-image: linear-gradient(to right,#1fb11c,#2b37c0);
}

.Forms102{
    margin: auto;
    background-color:#3fa78c;
    height: 65vh;
    width: 65%;
}

.another123{
    margin:auto;
    padding-left: 5px;
    height:30vh;
    width:40%;
    background-color: #44a177;
}

.Counter{
    margin:auto;
    padding-left: 305px;
    padding-top: 20px;
    background-color: #48d0d2;
    box-shadow: 4px 4px 4px;

}

.Contact{
    width: 500px;
    height:386px;
    background-color: #189286;
    display: inline-block;
}

.Chat{
    width: 1337px;
    height:386px;
    background-color: #e2c824;
    display: inline-block;
}

.Containment{
    display: flex;
}

a:hover,
a:active,
a:focus{
    color: #d1c3f5;
}

.useeffectdiv{
    margin:auto;
    padding-left: 5px;
    height:30vh;
    width:40%;
    background-color: #44a177;
}

.dependencies{
    margin:auto;
    padding-left: 5px;
    height:40vh;
    width:40%;
    background-color: #92b039;
}

.focus{
    margin:auto;
    padding-left: 5px;
    height:150vh;
    width:40%;
    background-color: #207576;

}